@font-face {
    font-family: inter;
    src: url('../fonts/Inter/static/Inter-Regular.ttf');
}

.about {
    font-family: 'inter';
}

.about {
    padding: 30px 60px;
    box-sizing: border-box;
    margin: auto;

}

.aboutParent {
    /* position: relative; */
    background: #F5F5F5;
    /* width: 1435px; */
    /* height: 731px; */
    border: white solid 2px;
    max-height: fit-content;
    box-sizing: border-box;
}

.aboutParent h2 {
    margin-top: .5em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 51px;
    line-height: 48px;
}
.aboutFooter {
    font-family: 'inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    padding: 30px 100px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #0E0A5C;
    margin: 2em auto;
}