.footParent {
    border: 2px red solid;
    background: #252B42;
    color: white;
    padding: 5em;
    transform: translateY(-10em);
}

.footParent ul {
    list-style: none;
    margin: auto 0;
    padding: 0;
}

.footHeading {
    margin: auto;
}

.footParent hr {
    border: 1px solid #364067;
    margin-right: 3em;
    box-sizing: border-box;
}

.footParent .btn-color {
    background: #25A0E7;
    color: white;
}

@media only screen and (max-width:600px) {
    .footParent {
        padding: 1em;
    }
}