.parent {
    width: 294px;
    height: 277px;
    /* border: 2px solid red; */
    background: #F7F7F7;
    box-shadow: -3px 2px 4px 6px rgba(255, 255, 255, 0.85);
    border-radius: 9px;
    text-align: center;
    padding: 35px;
    overflow: hidden;
    margin: 1em auto;
}

.image {
    margin-bottom: .8em;
}

.title {
    margin-bottom: 1.2em;
}

.content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 18px;
}