.round1Parent {
    /* width: 13.1em; */
    width: fit-content;
    /* height: 292.53px; */
    height: 317px;
    /* border: blue 2px solid; */
    margin: .5em auto;
    text-align: center;
}

.round1Parent>img {
    width: 300px;
    height: 80%;
    /* width: 170px;
        height: 170px; */
    padding-bottom: 0.5em;
}

.round1Parent>h3 {
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
    color: black;
}