.roundParent {
    /* width: 13.1em; */
    width: fit-content;
    /* height: 292.53px; */
    height: auto;
    border: blue 2px solid;
    margin: .5em auto;
    text-align: center;
}

.roundParent>img {
    width: 209px;
    height: 209px;
    /* width: 170px;
        height: 170px; */
    padding: 1.43em;
}

.roundParent>h3 {
    font-weight: 500;
    font-size: 15px;
    font-style: normal;
    color: #8C8C8C;
}